.background {
  background-color: #eceff4;
  color: black;

  height: fit-content;
  width: 100vw;
  overflow-x: hidden;

  padding-bottom: 32px;
}

#canvas {
  box-shadow: 0 0 8px#2b2c2d;
  border-radius: 8px;
}
